.env
# Minhas credenciais locais (NUNCA SUBIR PARA O GITHUB)
awskey.txt
nohup.out

# Arquivos e diretórios gerados pelo Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*tfplan*

# Ignorar arquivos de override locais
override.tf
override.tf.json
*_override.tf
*_override.tf.json